<!DOCTYPE html>
<html>
<head>
  <title><%= (@article.metatag("Title Tag") || @article.title) if @article%> | Startpage</title>
  <%= render partial: "/layouts/header_meta" %>
</head>
<body>

  <!-- HEADER -->
  <%= render partial: "/layouts/partials/header" %>

  <!-- STAGE -->
  <%= render partial: "/layouts/partials/stage" %>

 	<div class="wrapper section start-article">

  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-md-4">
        <h3><i class="icon-ok-circle"></i>Boa Boa</h3>
        <a href="/boa-startseite?slider=show" class="browser"><img class="img-responsive" src="../assets/templates/boa.jpg"></a><br />
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h3>Anaconda</h3>
        <a href="/anaconda-startseite" class="browser"><img class="img-responsive" src="../assets/templates/anaconda.jpg"></a><br />
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h3>Python</h3>
         <a href="/python-startseite" class="browser"><img class="img-responsive" src="../assets/templates/python.jpg"></a><br />
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->

</div>

  <!-- 
    CONTENT PAGE
  -->
  <div class="wrapper">
    <div class="container content-page">
      <div class="row">
        <!-- 
          Content
        -->
        <div class="content col-md-8">

          <!-- 
            Content Startseite Title, Summary, Text
          -->
          <h1 class="page-header"><%= yield(:article_title) %></h1>
          <% if yield(:article_summary).present? %>
            <div class="summary"><%= yield(:article_summary) %></div>
          <% end %>
          <% if yield(:article_content).present? %>
            <p><%= yield(:article_content) %></p>
          <% end %>          
        </div><!-- /.col-md-8 -->

        <!-- 
          Aside
        -->
        <aside class="col-md-4">
          <!-- TabListe -->
          <section>
          	<ul class="nav nav-tabs" id="myTab">
            	<li class="active">
            		<a data-toggle="tab" href="#service-one">Service One</a>
            	</li>
            	<li class="">
            		<a data-toggle="tab" href="#service-two">Service Two</a>
            	</li>
          	</ul>
	          <div class="tab-content" id="myTabContent">
	            <div id="service-one" class="tab-pane fade active in">
	              <i class="icon-gear pull-left icon-4x"></i>
	              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing. Pellentesque quis tristique eros, sed rutrum mauris.</p>
	            </div>
	            <div id="service-two" class="tab-pane fade">
	              <i class="icon-gears pull-left icon-4x"></i>
	              <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus porttitor, in pharetra quam feugiat.<p>
	            </div>
	          </div>
          </section>
          
          <!-- 
            Aside only text
          -->
          <%= yield(:sidebar) %>
          <%= render_article_widgets(tagged_with: "sidebar", default: true) %>
          <%= render_article_widgets(tagged_with: "sidebar") %>
        </aside>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /#wrapper -->

  <%= render partial: "/layouts/partials/footer" %>

</body>
</html>
