<!DOCTYPE html>
<html>
<head>
  <title><%= (@article.metatag("Title Tag") || @article.title) if @article%> | Startpage</title>
  <%= render partial: "/layouts/python/header_meta" %>
</head>

<body>
  <!-- HEADER -->
  <%= render partial: "/layouts/python/header" %>

  <!-- Bildergalerie -->    
  
    <% if params[:stage] == "show" %>
      <%= render partial: "/layouts/python/header_stage" %>
    <% elsif params[:slider] == "show" %>
      <%= render partial: "/layouts/python/header_slider" %>
    <% else %>
    <div class="container">
      <%= render partial: "/layouts/python/masonry_list" %>
    </div>
    <% end %>

    <div class="container">
      <article>
        <h1 class="title"><%= yield(:article_title) %></h1>
            <% if yield(:article_summary).present? %>
              <p class="teaser"><%= yield(:article_summary) %></p>
            <% end %>
            <% if yield(:article_content).present? %>
              <p><%= yield(:article_content) %></p>
            <% end %> 
        </article>
    </div>


  <!-- Footer -->
  <%= render partial: "/layouts/python/footer" %>
  
  </body>
</html>
